extends layout

block content
  if (user === undefined) 
    h1 Welcome to the Messageboard! 
  else 
    h1 Welcome !{user.username}!

  p You must sign in to make a post.
  ul All mesages
    li !{allMessages}
